@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryBg: #FCFCFC; 
  --headerColor: #0C0537;  
  --accent: #3D4F64; 
  --secondary: #FFC94F; 
  --whiteFont: #FFF; 
  --darkgrey: #535353;
  --shortDesc: #8C8C8C;
  --longDesc: #A6A6A6;
  --shortHeading: #505050;

  --font-montserrat-regular: 'Montserrat', sans-serif;
  --font-montserrat-medium: 'Montserrat Medium', sans-serif;
  --font-montserrat-semibold: 'Montserrat Semibold', sans-serif;
  --font-montserrat-bold: 'Montserrat Bold', sans-serif;
  --font-montserrat-extrabold: 'Montserrat Extrabold', sans-serif;
  --font-montserrat-light: 'Montserrat Light', sans-serif;
}


body {
  color: var(--darkgrey);
  background: var(--primaryBg);
  font-family: var(--font-montserrat-regular);
}

.custom-list li::marker {
  color: var(--secondary);
}

.custom-marker {
  background-color: var(--secondary); 
  width: 6px; 
  height: 6px; 
  border-radius: 50%; 
  margin-right: 8px; 
  align-self: center; 
}

.card::before {
  content: "Вт";
  position: absolute;
  top: 0; 
  left: 0;
  background-color: var(--secondary);
  color: var(--accent);
  text-align: center;
  font-weight: bold;
  padding: 8px 20px;
}

.btn::after {
  content: url('/plus_white.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -53%);
}

.btn:hover {
  background-color: var(--secondary); 
}

.btn:hover::after {
  content: url('/plus_grey.svg'); 
}


/* Для WebKit-браузеров (Chrome, Safari) */
.scrollable-container::-webkit-scrollbar {
  width: 1px; /* Ширина скролл-бара */
}

.scrollable-container::-webkit-scrollbar-button {
  display: none; /* Скрываем кнопки прокрутки */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #FFC94F; /* Цвет ползунка */
  border-radius: 10px; /* Скругленные края ползунка */
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: #E5E5E5; /* Цвет трека (дорожки) */
}

/* Для Firefox */
.scrollable-container {
  scrollbar-width: thin; /* Устанавливаем тонкий скролл-бар */
  scrollbar-color: #FFC94F #E5E5E5; /* Цвет ползунка и трека (дорожки) */
}










